absl-py
accelerate
agentneo
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
astunparse
attrs
audio-recorder-streamlit
azure-core
beautifulsoup4
bidict
bitsandbytes
black
blinker
blis
cachelib
cachetools
catalogue
certifi
charset-normalizer
chess
click
cloudpathlib
colorama
comm
comtypes
confection
contourpy
cycler
cymem
dataclasses-json
debugpy
decorator
Deprecated
dirtyjson
distro
einops
entrypoints
executing
fastapi
ffmpy
filelock
flashtext
Flask
Flask-Caching
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
GPUtil
gradio
gradio_client
greenlet
groq
grpcio
grpcio-status
gTTS
h11
h5py
httpcore
httpx
huggingface-hub
idna
imbalanced-learn
importlib-metadata
iniconfig
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
libclang
litellm
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
more-itertools
mpmath
multidict
murmurhash
mypy-extensions
namex
nest-asyncio
networkx
nltk
numba
numpy
openai
openai-whisper
opt_einsum
optree
orjson
packaging
pandas
parso
pathspec
phonenumbers
Pillow
pip
platformdirs
plotly
pluggy
preshed
presidio_analyzer
presidio_anonymizer
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycryptodome
pydantic
pydantic_core
pydantic-settings
pydeck
pydub
pygame
Pygments
PyMuPDF
pyparsing
pypdf
pypiwin32
pytest
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pytorch-tabnet
pyttsx3
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-toolbelt
rich
rpds-py
rsa
ruff
safetensors
scikit-learn
scipy
seaborn
semantic-version
sentence-transformers
setuptools
shellingham
simple-websocket
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
stack-data
starlette
streamlit
streamlit-float
streamlit-option-menu
striprtf
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
thinc
threadpoolctl
tiktoken
tldextract
tokenizers
toml
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
typing-inspect
tzdata
tzlocal
urllib3
uv
uvicorn
validators
waitress
wasabi
watchdog
wcwidth
weasel
websockets
Werkzeug
wheel
whisper
wrapt
wsproto
xgboost
yarl
zipp
